---
  import { Icon } from 'astro-icon/components';

  import Layout from './Layout.astro';
  import LinkButton from '../components/LinkButton.astro';

  const { frontmatter, file } = Astro.props;

  let projects = Object.values(import.meta.glob('../pages/projects/*.md', { eager: true }));
  projects = projects.filter((project: any) => project.file !== file);

---

<Layout title={`Michel Núñez - ${frontmatter.title}`} description={frontmatter.description}>
  <div class="mt-16 pt-8 pb-16 lg:pt-16 lg:pb-24">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
      <article
        class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

        <div
          class="max-w-full pb-8 prose prose-lg dark:prose-invert">
          <slot />

        </div>

        <div class="flex flex-row justify-center gap-2">
          { frontmatter.urls?.demo && <LinkButton href={frontmatter.urls.demo} target="_blank">
            <Icon name="mdi:link-variant" /> Ver web en vivo
          </LinkButton> }

          { frontmatter.urls?.repo && <LinkButton href={frontmatter.urls.repo} target="_blank">
            <Icon name="mdi:github" /> Ver código fuente
          </LinkButton> }
        </div>
      </article>
    </div>
  </div>

  { projects.length && (<aside aria-label="projects" class="mx-auto max-w-6xl px-4 py-14 px-6 lg:px-8">
    <div class="px-4">
      <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Otros proyectos</h2>
      <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
        {projects.map(({url, frontmatter}: any) => (
        <article class="max-w-xs">
          <a href={url}>
            <img src={frontmatter.image.url} class="mb-5 rounded-lg" alt="Image 1" />
          </a>
          <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
            <a href={url}>{frontmatter.title}</a>
          </h2>
        </article>))}
      </div>
    </div>
  </aside> )}
</Layout>